.superInput {
    border: 3px solid #7ab12d;
    background: saddlebrown;
    color: navajowhite;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}

.spanClassName {
background-color: white;
    color: white;
}

.spanClass {
    background-color: #5ca363;
    border: 1px solid white;
    border-radius: 2px;

    padding: 1px 0 3px 0;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 180px;
}

